:host {
  position: absolute;
  left: 0;
  width: 65px;
  height: 100%;
}

.right-divider {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: black;
}

li {
  text-align: center;
  margin-top: 20px;
}

li a {
  color: black;
}
