:host {
  position: absolute;
  left: 0;
  width: 65px;
  height: 100%;
}

.right-divider {
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #dbdbdb;
}

li {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

li a {
  color: #8e8d8d;
  font-size: 12px;
}

li a:hover,
li a.router-link-active {
  color: black;
}
