<ul>
  <li>
    <a [routerLink]="['/register']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
      <div><i class="fas fa-home fa-lg"></i></div>
      <div>Home</div>
    </a>
  </li>
  <li>
    <a [routerLink]="['/lookup']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
      <div><i class="fas fa-search fa-lg"></i></div>
      <div>Search</div>
    </a>
  </li>
  <li>
    <a [routerLink]="['/transfer']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
      <div><i class="fas fa-pen-square fa-lg"></i></div>
      <div>Create</div>
    </a>
  </li>
</ul>
<div class="right-divider"></div>
